
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #ffffff;
}

body::-webkit-scrollbar-thumb {
    background-color: #d5d9d4;
    border-radius: 5px;
    border: 3px solid #ffffff;
}

.modal-body::-webkit-scrollbar {
    width: 10px;
}

.modal-body::-webkit-scrollbar-track {
    background: #ffffff;
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: #d5d9d4;
    border-radius: 5px;
    border: 3px solid #ffffff;
}

:root {
    --menu-width: 100%; /* Width of menu */
    --items: 4; /* Number of items you have */
    --item-width: calc(var(--menu-width) / var(--items));
    --main-lite:rgb(28, 179, 28);
    --main-color: #0fb451;
    --main-color-dark: #08a148;
    --main-color-light: #40af6c;
    --text-color: #cfcde7;
  }
  
  button , input , select{
    outline: none;
    border: none;
}

.log_page_full_view {
	font-family: 'Poppins', sans-serif;
	overflow: hidden;
}

.home_page_wave_img {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
	filter: drop-shadow(4px 6px 2px black);
}

.loging_container_tag {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 7rem;
	padding: 0 2rem;
}

.log_page_top {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login-content {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.log_page_top img {
	width: 500px;
}

.log_page_form_container {
	width: 360px;
}

.login-content img {
	height: 100px;
}

.login-content h2 {
	margin: 5% 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-content .input-div {
	position: relative;
	display: grid;
	grid-template-columns: 7% 93%;
	margin: 40px 0;
	padding: 5px 0;
	/* border-bottom: 2px solid #d9d9d9; */
}

.titleImg {
	margin: 0 3%;
	width: 50px;
	height: 50px;
}

.titleImg img {
	width: 100%;
	height: 100%;
}

/* .login-content .input-div.one{
	margin-top: 0;
} */

.i {
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i {
	transition: .3s;
}

.input-div>div {
	position: relative;
	height: 45px;
}

.input-div>div>h5 {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before,
.input-div:after {
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
}

.input-div:before {
	right: 50%;
}

.input-div:after {
	left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
	width: 50%;
}

.input-div.focus>div>h5 {
	top: -15px;
	font-size: 15px;
}

.input-div.focus>.i>i {
	color: #38d39f;
}

.input-div>div>input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass {
	margin-bottom: 4px;
}

.forgot_tag {
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
	cursor: pointer;
}

.forgot_tag:hover {
	color: #38d39f;
}

.forget_back {
	cursor: pointer;
}

.forget_back:hover {
	color: #38d39f;
}

.log_page_login_btn {
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
	box-shadow: rgb(0 0 0 / 63%) 1.95px 1.95px 2.6px;
}

.log_page_login_btn:hover {
	background-position: right;
}




@media screen and (max-width: 1050px) {
	.loging_container_tag {
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px) {
	.log_page_form_container {
		width: 290px;
	}

	.login-content h2 {
		font-size: 2.4rem;
		margin: 8px 0;
	}

	.log_page_top img {
		width: 400px;
	}
	
}

@media screen and (max-width: 900px) {
	.loging_container_tag {
		grid-template-columns: 1fr;
	}

	.log_page_top {
		display: none;
	}

	.home_page_wave_img {
		display: none;
	}

	.login-content {
		justify-content: center;
	}
}


/* update */
#coverPage {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #292020b8;
    top: 0;
    z-index: 9999;
}

#homeCloader:before {
    content: "";
    width: 30%;
    height: 5px;
    background: #fefefe;
    border-radius: 10px;
    position: fixed;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
    top: 0;
    z-index: 10000;
    overflow: hidden;
    animation-name: loader_ani;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes loader_ani {
	from {
		transform: translateX(-100%)
	}

	to {
		transform: translateX(400%)
	}
}



/* common loader design */
.commonLoader {
    box-sizing: border-box;
    display: inline-block;
    width: 50px;
    height: 80px;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    position: relative;
    background: linear-gradient(var(--main-color-light) 30px, transparent 0) no-repeat;
    background-size: 2px 40px;
    background-position: 50% 0px;
    animation: spinx 5s linear infinite;
  }
  .commonLoader:before, .commonLoader:after {
    content: "";
    width: 40px;
    left: 50%;
    height: 35px;
    position: absolute;
    top: 0;
    transform: translatex(-50%);
    background: rgba(255, 255, 255, 0.4);
    border-radius: 0 0 20px 20px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 0px;
    animation: lqt 5s linear infinite;
  }
  .commonLoader:after {
    top: auto;
    bottom: 0;
    border-radius: 20px 20px 0 0;
    animation: lqb 5s linear infinite;
  }
  @keyframes lqt {
    0%, 100% {
      background-image: linear-gradient(var(--main-color-light) 40px, transparent 0);
      background-position: 0% 0px;
    }
    50% {
      background-image: linear-gradient(var(--main-color-light) 40px, transparent 0);
      background-position: 0% 40px;
    }
    50.1% {
      background-image: linear-gradient(var(--main-color-light) 40px, transparent 0);
      background-position: 0% -40px;
    }
  }
  @keyframes lqb {
    0% {
      background-image: linear-gradient(var(--main-color-light) 40px, transparent 0);
      background-position: 0 40px;
    }
    100% {
      background-image: linear-gradient(var(--main-color-light) 40px, transparent 0);
      background-position: 0 -40px;
    }
  }
  @keyframes spinx {
    0%, 49% {
      transform: rotate(0deg);
      background-position: 50% 36px;
    }
    51%, 98% {
      transform: rotate(180deg);
      background-position: 50% 4px;
    }
    100% {
      transform: rotate(360deg);
      background-position: 50% 36px;
    }
  }
      

  .loader_cImga{
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
  }
/* common loader design */
